.container :global(.caption) {
  margin-top: 1rem;
}

.common {
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  composes: common;
  font-size: 0.9rem;
}

.tags {
  composes: common;
  font-size: 0.65rem;
}

.date {
  composes: common;
  font-size: 0.65rem;
  opacity: 0.5;
}
