.content {
  margin-top: 2.5rem;
}

.navTabContainer li {
  padding: 0.1rem 0.8rem;
  text-transform: uppercase;
}

.tabItem a {
  color: rgb(128, 139, 140);
  text-decoration: none;
}

.tabItem:global(.active) {
  border: none;
  border-bottom: 2px solid rgb(255, 2, 255);
  color: rgb(255, 2, 255);
}

.tabItem:global(.active) a,
.tabItem a:hover {
  color: rgb(255, 2, 255);
}

.tabContent {
  color: white;
}
