.chartsList {
	padding: 0;
	list-style-type: none;
}

.chartsList li {
	display: flex;
	flex-direction: row;
	align-items: center;
    border-top: 1px solid #323232;
}

.chartsList li:hover {
	background: #323232; 
	cursor: pointer;
}

.chartsList li span {
	color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 100;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 2.7rem;
}

.chartIcon {
	height: 27px;
	margin-right: 20px;
	fill: rgba(255, 255, 255, 0.7);
}

.chartIconActive {
	height: 27px;
	margin-right: 15px;
	fill: #ba621b;
}