.chartsSizeButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.chartsSizeButton {
	margin: 0 2px;
	cursor: pointer;
	font-size: 13px;
    font-weight: 100;
    padding: 7px 17px;
    border-radius: 25px;
    border: 1px solid #323232;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.chartsSizeButtonActive {
	margin: 2px 0;
	cursor: pointer;
	font-size: 13px;
    font-weight: 100;
    padding: 7px 17px;
    border-radius: 25px;
    border: 1px solid #ba621b;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.chartsSizeContainer {
	width: 60%;
}
