.container {
  display: inline-block;
  position: relative;
  background-color: black;
  width: 40px;
  z-index: 9999;
}

.expanded {
  width: auto;
}

.navStacked {
  flex-direction: column;
}

.navStacked li {
  height: 2.6rem;
  border-bottom: 1px solid #333;
}

.navStacked li:first-child {
  border-top: 1px solid #333;
}

.popupMenu {
  background-color: black;
  top: 0;
  left: 100%;
  margin: 0;
  padding: 0;
}

.navStacked li:hover {
  border-bottom-color: purple;
}
