.ico {
  width: 24px;
  height: 24px;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: center center;
}

.searchIco {
  background-image: url('./icons-search.png');
  composes: ico;
}

.researchIco {
  background-image: url('./icons-flash.png');
  composes: ico;
}

.trendIco {
  background-image: url('./icons-positive_dynamic.png');
  composes: ico;
}

.tearOffIco {
  background-image: url('./icons-tear_off_calendar.png');
  composes: ico;
}

.popularTopicIco {
  background-image: url('./icons-very_popular_topic.png');
  composes: ico;
}

.rebalanceIco {
  background-image: url('./icons-rebalance_portfolio.png');
  composes: ico;
}
