.container {
  width: 100%;
  background-color: rgb(2, 24, 25);
  padding: .5rem;
}

.bordered {
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, .4);
}

.linkContainer {
  padding: 0 1.5rem 1.5rem;
}
