.chartsOrientationContainer {
	width: 20%;
}

.chartsOrientationContainer {
	margin-left: 25px;
}

.chartsOrientationButtons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	background: #323232;
}

.chartIcon {
	padding: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeChartIcon {
	padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeChartIcon polygon {
	fill: #ba621b !important;
}