.container {
  position: relative;
  background: url("/static/login-bg.svg") no-repeat center top fixed;
  flex: 1;
}

.action {
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 20px;
  max-width: 500px;
  min-width: 250px;
  color: white;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .action {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 992px) {
  .action {
    max-width: 80vw;
    min-width: 80vw;
  }
}

.logoContainer {
  padding: 0 24px;
  height: 2.1rem;
  width: 6.15rem;
}
