@value mainColor: rgb(46, 64, 65);

.container {
  margin: 2rem;
}

.title {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

.tableContainer {
  padding: 1.5rem;
  overflow: scroll;
}

.table {
  background-color: transparent;
}

.table thead th {
  color: white;
  opacity: 0.5;
  font-size: .75rem;
  border-bottom: 2px solid mainColor;
  padding: 6px;
}

.table tbody td {
  border-top-color: mainColor;
  color: rgba(255, 255, 255, 0.5);
  font-size: .75rem;
  padding: 6px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 3.5rem;
  background-color: mainColor;
}

.iconContainer {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.sortDesc {
  transform: rotate(180deg);
}
