.container {
  width: 100%;
  margin: 2rem;
}

.tmpAvatar {
  background: url('/static/Shape.png') no-repeat;
  height: 4.5rem;
  width: 4.5rem;
  display: inline-block;
}

.userName {
  font-size: 1.2rem;
  color: white;
}

.coins {
  color: rgba(255, 255, 255, 0.72);
  font-size: 1.3rem;
}

.navigation {
  margin-top: 40px;
}
