.chartsTitle {
	color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
    font-weight: 100;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
    letter-spacing: 0.6px;
    margin-top: 7px;
}
