.name {
  color: white;
  font-size: 1rem;
}

.rate {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  opacity: 0.8;
}

.score {
  font-size: 0.75rem;
  color: white;
}

.positiveDynamic {
  font-size: 0.9rem;
  color: rgb(184, 233, 134);
  margin-left: 1.5rem;
}

.positiveDynamic::after {
  content: "↗";
}

.textContainer {
  margin-top: 3.5rem;
}

.text {
  font-size: 0.8rem;
  opacity: 0.4;
  color: white;
}
.usdPrice {
  margin: 5px 0;
}

.btcLogo {
  width:16px;
  height: 16px;
}
.infoContainer {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 100px;
}
