.container :global(.media-body) {
  margin-left: 1rem;
}

.common {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

.text {
  composes: common;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

.date {
  composes: common;
  font-size: 0.85rem;
  opacity: 0.5;
}
